.Counter {
    border-radius: 8px;
    border-width:  2px;
    display: flex;
    border: 2px solid;
    border-color: #B24242;
}

.minus {
    border-right: 2px solid #B24242;
    padding: 19px 27px 18px 26px;
    cursor: pointer;
}

.plus {
    border-left: 2px solid #B24242;
    padding: 19px 27px 18px 26px;
    background: #B24242;
    cursor: pointer;
}