.Input {
    flex: 2;
}

input {
    border: none;
    height: 96%;
    text-align: center;
    width: 60px;
    background: #FBE8E8;
    font-size: 21px;
    font-weight: 900;
    color: #B24242;
}

input:focus{
    outline: none;
}